@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('/third_party_web/IBMPlexMono-Regular.ttf') format('truetype');
}

a:link, a:visited, a:hover, a:active {
    color: #F0F0F0;
}

a:hover, a:active {
    color: #FFFFFF;
    background-color: black;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

html {
    font-family: IBMPlexMono-Regular;
    background-color: #404040;
    color: #F0F0F0;
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

nav .subtitle {
    margin-bottom: 30px;
}

[role="tab"][aria-selected="true"] {
    background-color: black;
    border: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
}

[role="tablist"] {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-size: 14px;
}

[role="tab"]:hover:not([aria-selected="true"]) {
    background-color: black;
}

[role="tablist"] a {
    color: color;
    text-decoration: none;
}

.button {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.button:hover {
    background-color: black;
}

.center {
    text-align: center;
}

.cta {
    margin-top: 16px;
    margin-bottom: 16px;
}

.express-results {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

.express-results th, .express-results td {
    border: 1px solid black;
    border-collapse: collapse;
}

.express-results td {
    padding: 3px;
}

.express-results .data-bar {
    background-color: white;
    display: inline-block;
    height: 5px;
}

.form-group {
    margin-top: 16px;
    margin-bottom: 16px;
}

.highlight {
    display: inline-block;
    background-color: black;
    padding: 5px;
}

.padded-start {
    margin-bottom: 20px;
}

.skip-link {
    background: rgba(0, 0, 0, 0.5);
    height: 20px;
    padding: 4px;
    left: 0;
    top: 0;
    position: absolute;
    transform: translateY(-100%);
}
  
.skip-link:focus {
    transform: translateY(0%);
}

.subsection {
    margin-top: 16px;
    padding-top: 16px;
    margin-bottom: 32px;
    border-top: 1px dotted black;
}

#app #sketch {
    display: none;
}

#app #sketch #sketch-canvas {
    border: 1px solid #303030;
    border-radius: 3px;
}
