*.db
__pycache__
.mypy_cache

third_party/*.css
third_party/*.js
third_party/*.whl
third_party/*.json
third_party/*.wasm
third_party/*.mjs
third_party/*.zip

IBMPlexMono-Regular.ttf
tabby-ui.min.css
tabby.polyfills.min.js
d3.min.js

deploy
lambda_deploy
